// Navigation code here



.topBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-content: center;
    //align-content: center;
    height: 100px;
    width: 100%;
    background-color: @wild-sand;
     .border1();

     .title{
        justify-content: center;
         align-items: center;
     }

     .navBar{
        justify-content: space-around;
         align-items: center;
         .border2();

         a{
             text-decoration: none;
             color: @shuttle-gray;
             font-family: @river-bend;
             .border3();
         }
     }


}